
.container {
  width: 700px;
  max-width: 100%;
  margin: 0 auto;

}
.header {
  display: flex;
  padding: 15px;
  border: 2px solid hsl(217, 16%, 45%);
  border-radius: 15px;
  justify-content: space-between;
}
.logo {
  display: flex;
  flex-direction: column;
}
.score_container{
  background: white;
  border-radius: 15px;
  padding: 10px 40px;
  align-content: center;
  text-align: center;
}
.score_title{
  margin: 0;
  color: hsl(229, 64%, 46%);
}
.score{
  color: hsl(229, 25%, 31%);
  font-size: 4rem;

  margin: 0;
}
.reset_button{
  border: 2px solid white;
  border-radius: 5px;
  background: transparent;
  color: white;
  font-family: inherit;
  padding: 5px 15px;
  position: fixed;
  bottom: 80px;
  left: 30px;
}
.rules_button{
  border: 2px solid white;
  border-radius: 5px;
  background: transparent;
  color: white;
  font-family: inherit;
  padding: 5px 15px;
  position: fixed;
  bottom: 80px;
  right: 30px;
}

.rules_header{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.rules_title{
  margin-top: 0;
  color: hsl(229, 25%, 31%);
  font-family: inherit;
}
.close_rules{
  margin-top: 0;
  border: none;
  background: transparent;
  color: darkgray;
  font-family: inherit;
  font-size: 30px;
  height: 10px;
}
.rules_img{
  display: flex;
  justify-content: center;
}
.again_button{
  border: 2px solid white;
  border-radius: 5px;
  background: white;
  color: hsl(229, 25%, 31%);
  font-family: inherit;
  font-size: 20px;
  padding: 5px 15px;

}
.circle_button{
  height: 150px;
  width: 150px;
  border-radius: 50%;

}

.inner_circle{
  background: white;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  height: 120px;
  width: 120px;
  align-items: center;
}

.paper_gradiant{
  background: radial-gradient( circle at 50%, hsl(230, 89%, 62%), hsl(230, 89%, 65%));
}
.scissors_gradiant{
  background: radial-gradient( circle at 50%, hsl(39, 89%, 49%), hsl(40, 84%, 53%));
}
.rock_gradiant{
  background: radial-gradient( circle at 50%, hsl(349, 71%, 52%), hsl(349, 70%, 56%));;
}

.main{
  align-items: center;
  height: 350px;
  width: 350px;
  margin: 0 auto;
  margin-top: 50px;
  position: relative;
}
.main::before{
  background-image: url("../public/images/bg-triangle.svg");
  background-repeat: no-repeat;
  background-size: cover;
  content: '';
  position: absolute;
  top: 20%;
  left: 11%;
  height: 70%;
  width: 70%;
  z-index: -1;

}
.top_triangle_wrap{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.bottom_triangle_wrap{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
  .result {
    order: 1;
    flex: 1 0 100%;
    text-align: center;
  }
}
